<div class="col-md-4 col-md-push-4">
    <h3>{{status}}</h3>
</div>
<div class="col-md-12">
    <div class="holder col-md-4 col-md-push-4">Drag&Drop files here to share</div>
</div>
<div class="col-md-12">
    <div>{{title}}</div>
    <div>{{progress}}% of {{size}}Mb</div>
    <div>{{peers}} <span class="fa fa-users"></span> {{downloading}}kbps - {{downloaded}}Mb <span class="fa fa-arrow-down"></span> {{uploading}}kbps - {{uploaded}}Mb <span class="fa fa-arrow-up"></span></div>
    <div><a href="https://bash-street-boys-and-girls.com/file#{{hash}}">https://bash-street-boys-and-girls.com/file#{{hash}}</a></div>
</div>